<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>assignment3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2703913E1DA9C6FA00571240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>270391521DA9C6FB00571240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2703915D1DA9C6FB00571240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
